/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
core.*
/ext/insns.ll
/ext/module.ll
/ext/module.bc
/ext/module_opt.ll
/ext/insns.bc
perf.data

# rspec failure tracking
.rspec_status
